<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948164496401-pekdt4ba452b47vnno08abo3tq6t1d2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948164496401-pekdt4ba452b47vnno08abo3tq6t1d2p</string>
	<key>API_KEY</key>
	<string>AIzaSyCzA44ecsegVv2SjAmY_6-Hcg7c-pHdeuI</string>
	<key>GCM_SENDER_ID</key>
	<string>948164496401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.providerNoteExample</string>
	<key>PROJECT_ID</key>
	<string>my-firenase-note1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firenase-note1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948164496401:ios:4db216b4c88a3a89d5b5b0</string>
</dict>
</plist>